.chart-container {
    height: 50vh;
    min-height: 300px;
    margin-bottom: 60px;
}

.margin-top {
    margin-top: 50px;
}

.chart-container-single {
    height: 80vh;
    min-height: 300px;
    margin-bottom: 60px;
}

@media (max-width: 1090px) {
    .chart-container-single {
        margin-top: 50px;
    }
    .chart-container {
        margin-top: 50px;
    }
}