.chart-container {
    height: 50vh;
    min-height: 300px;
}

.margin-top {
    margin-top: 50px;
}

.chart-container-single {
    height: 80vh;
    min-height: 300px;
}

.legend-label-color {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 5px;
    color: #5b646b;
    border-radius: 3px;
}

.legend-label-text {
    display: inline-block;
    vertical-align: top;
    line-height: 15px;
    font-size: 12px;
    width: calc(100% - 20px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 1090px) {
    .chart-container {
        margin-top: 50px;
    }
}