<div class="container-fluid legend-labels">
    <div class="row">
        <div class="col-lg col-md-3 col-sm-6 col-xs-12" *ngFor="let legend of legends">
            <mat-checkbox color="primary" (change)="change($event)" [name]="legend.name" [checked]="legend.checked">
                <span class="legend-label-color" [style]="backGroundColorStyle(legend.color)">
                </span>
                <span class="legend-label-text">
                    {{legend.label}}
                </span>
            </mat-checkbox>
        </div>
    </div>
</div>