<mat-toolbar color="primary">
    <span class="d-block d-lg-none">
        <button mat-icon-button [matMenuTriggerFor]="menu" i18n-title title="Click to select regions and provinces">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <app-tree-menu></app-tree-menu>
        </mat-menu>
        </span>
    <span>
        <img class="logo" src="./assets/images/logo.png"/><span class="d-none d-sm-inline">&nbsp;{{title}}</span>
    </span>
    <span class="toolbar-spacer"></span>
    <span>
        <button mat-button [matMenuTriggerFor]="creditMenu" i18n>Credits</button>
        <mat-menu #creditMenu="matMenu">
            <a mat-menu-item href="https://github.com/pcm-dpc/COVID-19" target="_blank" title="Dati Ufficiali della Protezione Civile">
                <fa-icon [icon]="faGithub"></fa-icon> pcm-dpc/COVID-19
            </a>
            <a mat-menu-item href="https://swimlane.gitbook.io/ngx-charts/" target="_blank" title="ngx-charts">
                <img style="height: 18px;" src="./assets/icon/ngx-charts.svg"/> ngx-charts
            </a>
            <a mat-menu-item href="https://angular.io" target="_blank" title="Angular">
                <fa-icon [icon]="faAngular"></fa-icon> Angular
            </a>
            <a mat-menu-item href="https://material.angular.io" target="_blank" title="Angular Material UI">
                <fa-icon [icon]="faAngular"></fa-icon> Material UI Library
            </a>
            <a mat-menu-item href="https://getbootstrap.com/" target="_blank" title="Bootstrap">
                <fa-icon [icon]="faBootstrap"></fa-icon> Bootstrap
            </a>
            <a mat-menu-item href="https://fontawesome.com/" target="_blank" title="Font Awesome">
                <fa-icon [icon]="faFontAwesome"></fa-icon> Font Awesome
            </a>            
        </mat-menu>
    </span>
    <span>
        <a mat-button target="_blank" href="https://github.com/sponsors/heyteacher">
            <fa-icon [icon]="faHeart"></fa-icon> 
        </a>
    </span>
    <span>
        <button mat-button [matMenuTriggerFor]="repsMenu"><fa-icon [icon]="faGithub"></fa-icon></button>
        <mat-menu #repsMenu="matMenu">
            <a mat-menu-item href="https://github.com/heyteacher/COVID-19" target="_blank" title="COVID-19 Datasets & Forecasts">
                <fa-icon [icon]="faGithub"></fa-icon> Datasets & Forecasts
            </a>     
            <a mat-menu-item href="https://github.com/heyteacher/ng-covid-19-ita-charts" target="_blank" title="Angular Source Code ">
                <fa-icon [icon]="faGithub"></fa-icon> Angular Source Code 
            </a>     
            <a mat-menu-item href="https://github.com/heyteacher/sam-forecast-automation-covid-19-ita" target="_blank" title="AWS SAM Template Project">
                <fa-icon [icon]="faGithub"></fa-icon> AWS SAM Template Project
            </a>     
        </mat-menu>
    </span>
    <span>
        <button mat-button [matMenuTriggerFor]="shareMenu">
            <fa-icon [icon]="faShareAlt"></fa-icon>
        </button>
        <mat-menu #shareMenu="matMenu">
            <a mat-menu-item target="_blank" [href]="twitterLink()" title="Twitter" >
                <fa-icon [icon]="faTwitter"></fa-icon> Twitter
            </a>
            <a mat-menu-item target="_blank" [href]="whatsappLink()" data-action="share/whatsapp/share" title="Whatsapp" >
                <fa-icon [icon]="faWhatsapp"></fa-icon> Whatsapp
            </a>
            <a mat-menu-item target="_blank" [href]="facebookLink()" title="Facebook">
                <fa-icon [icon]="faFacebook"></fa-icon> Facebook
            </a>
            <a mat-menu-item target="_blank" [href]="linkedinLink()" title="Linkedin">
                <fa-icon [icon]="faLinkedin"></fa-icon> Linkedin
            </a>
            <a mat-menu-item href="#" (click)="copyMessage(shareUrl)" i18n-title title="Copy in Clipboard" >
                <fa-icon [icon]="faCopy"></fa-icon> Copy
            </a>
        </mat-menu>
    </span>
    <span>
        <a mat-button [href]="otherLang.url">{{otherLang.label}}</a>
    </span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="d-none d-lg-block">
        <app-tree-menu></app-tree-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>