mat-form-field {
    width: 60px;
    margin: 0px 0px 0px 10px;
    font-size: 14px;
}

.bar-control-action {
    padding-left: 10px;
}

.control-title {
    margin-left: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: 700;
}